
.navbar {
  position: relative;
  padding: 1%;
  margin: 5px 20%;
  left: 0%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  background-color: #fafafa;
}

#navbar-relative {
  transition: all 0.3s cubic-bezier(.85,-0.2,0,1.7);
}

.navbar-fixed-container {
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fafafa;
  border-bottom: 1px solid #888;
  /* border: 1px solid #ddd; */
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
}
#navbar-fixed {
  width: 100vw;
  transform: translate3d(0, -80px, 0);
  transition: all 0.3s cubic-bezier(.95,-0.1,0,1.2);
}

.nav-inside {
  height: 100%;
  width: 100%;
}
.nav-inside ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-inside li {
  height: 2.75em;
  /* 16pt * 2.75em = 44pt */
  font-size: 1em;
}

.nav-inside a:hover {
  /* color: RGB(144, 224, 243); */
  color: #D4AFDF;
  transition: color 0.2s ease;
}
.nav-inside a {
  transition: color 0.2s ease;
}


