


.section1 {
  position: absolute;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
  position: absolute;
}

.thesis {
  margin: 0% 10% 0% 10%;
  overflow-x: hidden;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes slideAnim {
  from {
    opacity: 1;
    -webkit-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}


.white-fill {
  position: absolute;
  height: 25vh;
  /* border: 1px solid red; */
  width: 100vw;
  bottom: -25vh;
  background-color: #fafafa;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait) {
  .thesis {
    margin: 0% 3% 0% 3%;
  }
}
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape) {
  .main-title {
    margin-top: 25vh;
  }
  .thesis {
    margin: 0% 4% 0% 4%;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: portrait) {
  .thesis {
    margin: 0% 3% 0% 3%;
  }
}
/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
  .main-title {
    margin-top: 25vh;
  }
  .thesis {
    margin: 0% 4% 0% 4%;
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (orientation: portrait) {
  .thesis {
    margin: 0% 3% 0% 3%;
  }
}
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (orientation: landscape) {
  .main-title {
    margin-top: 25vh;
  }
  .thesis {
    margin: 0% 4% 0% 4%;
  }
}

.footer {
  background-color: #f6f6f6;
}
.social-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.link-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
  min-width: 200px;
  padding: 20px 20px 10px 20px;
}
.social-icon {
  filter: grayscale(1);
  transition: all 0.3s ease;
  height: 40px;
  width: 40px;
}
.social-icon:hover {
  filter: grayscale(0);
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.copyright {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
  background-color: #f1f1f1;
}




