
/* ----------- Desktop ----------- */
body {
  overflow-x: hidden;
  font-family: Cousine, Inconsolata;
  font-size: 12pt;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  color: #222;
  background-color: #fafafa;
  -webkit-tap-highlight-color: #ddd;
}
h1 {
  font-size: 2.6rem;
  font-weight: 400;
  font-family: Lobster;
  text-align: center;
  color: #222;
  margin: 0;
}
h2 {
  font-size: 1.6rem;
  txt-align: center;
  margin: 0;
}
h2 {
  font-size: 1.4rem;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}





.genesis-container {
  margin: 0;
}

.main-title {
  width: 100vw;
  margin-top: 36vh;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #222;
  transition-duration: 96ms;
  transition-timing-function: linear;
  /* animation: fadeIn 0.6s cubic-bezier(0.6,0,0.4,1); */
  /* animation-delay: 0s; */
}
.main-title-sub {
  margin-top: 5px;
  font-size: 10pt;
}

.section1 {
  position: absolute;
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
  position: absolute;
}


.thesis {
  margin: 0% 10% 0% 10%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes slideAnim {
  from {
    opacity: 1;
    -webkit-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}


// Parallax
.parallax {
  position: relative;
  background-repeat: no-repeat no-repeat;
  overflow: hidden;
  background-size: 100 auto;
  background-position: 50% 50%;
  background-attachment: fixed;
  opacity: 0.9;
}

#parallaxBox1 {
  filter: grayscale(1);
  height: 100vh;
  background-color: #fefefe;
  /* background-image: url("https://i.pinimg.com/564x/1b/ac/7d/1bac7d2bc8738dec878b27742863d42d.jpg"); */
  /* background-position: 50% 50%; */
  /* background-attachment: fixed; */
}

.white-fill {
  position: absolute;
  height: 25vh;
  /* border: 1px solid red; */
  width: 100vw;
  bottom: -25vh;
  background-color: #fafafa;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait) {
  .thesis {
    margin: 0% 3% 0% 3%;
  }
}
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape) {
  .main-title {
    margin-top: 25vh;
  }
  .thesis {
    margin: 0% 4% 0% 4%;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: portrait) {
  .thesis {
    margin: 0% 3% 0% 3%;
  }
}
/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
  .main-title {
    margin-top: 25vh;
  }
  .thesis {
    margin: 0% 4% 0% 4%;
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (orientation: portrait) {
  .thesis {
    margin: 0% 3% 0% 3%;
  }
}
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (orientation: landscape) {
  .main-title {
    margin-top: 25vh;
  }
  .thesis {
    margin: 0% 4% 0% 4%;
  }
}


.footer {
  background-color: #f6f6f6;
}
.link-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 20px 30% 10px 30%;
}
.social-icon {
  filter: grayscale(1);
  transition: all 0.3s ease;
  height: 40px;
  width: 40px;
}
.social-icon:hover {
  filter: grayscale(0);
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.copyright {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
  background-color: #f1f1f1;
}


.landing-languages {
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 100%;
  /* font-family: Helvetica Neue; */
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: fadeInLanguages 1s cubic-bezier(0.6,0,0.4,1);
}
.languages {
  margin: 0.2rem;
  color: #eaeaea;
}
.languages a {
  font-size: 0.8rem;
  color: #aaa;
}
.languages a:hover {
}
.languages.selected-language a {
  /* text-decoration: underline; */
  transition: all 0.2s ease;
  font-weight: bold;
  color: #222;
}

@keyframes fadeInLanguages {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
}


